@import '../../theme/palette';

.new_item_container {
  height: 900px;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
  width: 100%;

  .content_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 486px;
    margin: 0 auto;
    width: 600px;
    height: 100%;
    background-color: #fff;

    .send_btn_container {
        margin: 165px 0 0 70px;
    }

    textarea {
      font-size: 26px;
      border: none;
      border-bottom: 1px solid $paletteColor5;
      padding: 15px 0 0 15px;
      margin: 12px 0 0 45px;
      top: 150px;
      position: relative;
    }
  }
}