@import '../../theme/palette';

.mainContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 2000px;
  background-color: #F0F0F0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 486px;
    margin: 0 auto;
    width: 600px;

    .itemsContainer {
      width: 80%;
      min-width: 400px;
    }

    .addButtonContainer {
      margin-top: 40px;
    }

  }

  .addButton {
    height: 40px;
    width: 40px;
    border: 1px solid $paletteColor9;
    background-color: $paletteColor9;
    color: $paletteColor11;
    border-radius: 50%;
    box-shadow: 10px 10px $paletteColor10;
    padding: 10px;
    margin: 0 auto;

    &:after {
      content: '+';
      font-size: 72px;
      font-weight: 900;
      padding: 0 0 -1px 90px;
      position: relative;
      top: -20px;
    }

    &:hover {
      cursor: pointer;
      top: -10px;
    }
  }
}
