@import '../../theme/palette';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.itemContainer {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .text {
    width: 255px;
    padding: 20px 40px;
    border-bottom: 1px solid $paletteColor10;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }

    h3 {
      color: $paletteColor5;
      font-family: 'Open-Sans', Arial, sans-serif;
      max-width: 252px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .itemInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .commentsAmount {
      font-family: 'Open-Sans', Arial, sans-serif;
      display: inline-block;
      background-color: $paletteColor2;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      color: $paletteColor11;
      font-weight: 900;
      text-align: center;
      line-height: 2.5;
      margin-left: -30px;
    }

    .deletButtonContainer {
      margin: 15px;
    }
  }
}
