$paletteColor1: #000;
$paletteColor2: #1B1B3E;
$paletteColor3: #3A2A63;
$paletteColor4: #3A2A63;
$paletteColor5: #2F2F2F;
$paletteColor6: #365899;
$paletteColor7: #AF7591;
$paletteColor8: #AF7591;
$paletteColor9: #D50059;
$paletteColor10: #E5E5E5;
$paletteColor11: #fff;
$paletteColor12: lightskyblue;
$paletteColor13: darkcyan;
$paletteColor14: pink;
$paletteColor15: hotpink;